# Data cleaning, Manipulation & Concatenation

## Import pandas Library

In [457]:
import pandas as pd

In [464]:
pd.set_option('display.max_colwidth', 1000)

### Importing Json files

In [465]:
df1= pd.read_json("data_1.json.", orient="index").T

In [466]:
df1["dept_address"] = df1.dept_details[0][0:48]

In [467]:
df1["dept_phone"] = df1.dept_details[0][56:68]

In [468]:
df1["dept_email"] = df1.dept_details[0][76:101]

In [469]:
df1.insert(loc = 0,column="county/city", value= "Alameda")

In [470]:
df1.drop(columns="dept_details", inplace=True)

In [471]:
df1

,county/city,dept_name,dept_address,dept_phone,dept_email
0,Alameda,City of Alameda Rent Program,"950 W. Mall Square, Room 172, Alameda, CA, 94501",510-747-7520,rentprogram@alamedaca.gov

In [472]:
df2 = pd.read_json("data_2.json.", orient="index").T

In [473]:
df2["contact_person"] = df2.contact_person[0][0]["name"] + " "+ df2.contact_person[0][1]["name"] +" "+ df2.contact_person[0][2]["name"]

In [474]:
df2.drop(columns= ["dept_phone_url"], inplace=True)

In [475]:
df2.insert(loc = 0,column="county/city", value= "Alpine")

In [476]:
df2

,county/city,dept_name,dept_address,dept_phone,contact_person
0,Alpine,Planning Division,"Physical Address\n50 Diamond Valley Rd\nMarkleeville, CA 96120",530-694-2140,Planner II Email Sarah Traiman Phone: 530-694-2140 Ext 437

In [477]:
df3= pd.read_json("data_3.json.", orient="index").T

In [478]:
df3.drop(columns="dept_email", inplace=True)

In [479]:
df3.rename(columns={"dept_email_url":"dept_email"}, inplace=True)

In [480]:
df3.insert(loc = 0,column="county/city", value= "Amador")

In [481]:
df3

,county/city,dept_name,dept_address,dept_phone,dept_email
0,Amador,Treasurer / Tax Collector,"810 Court Street. Jackson, CA 95642",(209) 223-6364,mailto:TaxCollector@amadorgov.org

In [482]:
df4= pd.read_json("data_4.json.", orient="index").T

In [483]:
df4

,dept_name,dept_address,dept_phone,dept_phone_url,dept_email,dept_email_url
0,Planning,"25 County Center Drive\nOroville, CA 95965",530-552-3701,tel:5305523701,Email Planning Division,mailto:dsplanning@buttecounty.net

In [484]:
df4.drop(columns=["dept_email", "dept_phone_url", "dept_email"], inplace=True)

In [485]:
df4.rename(columns={"dept_email_url":"dept_email"}, inplace=True)

In [486]:
df4

,dept_name,dept_address,dept_phone,dept_email
0,Planning,"25 County Center Drive\nOroville, CA 95965",530-552-3701,mailto:dsplanning@buttecounty.net

In [487]:
df4.insert(loc = 0,column="county/city", value= "Butte")

In [488]:
df4

,county/city,dept_name,dept_address,dept_phone,dept_email
0,Butte,Planning,"25 County Center Drive\nOroville, CA 95965",530-552-3701,mailto:dsplanning@buttecounty.net

In [489]:
df5= pd.read_json("data_5.json.", orient="index").T

In [490]:
df5

,dept_name,dept_address,dept_phone,dept_phone_url,contact_person,contact_person_url
0,Housing Assistance Programs,"Physical Address\n251 E. Webster Street\nColusa, CA 95932",(530) 458-0250,tel:5304580250,Email,mailto:amilcar.avendano@countyofcolusa.com

In [491]:
df5.drop(columns=["dept_phone_url", "contact_person"], inplace=True)

In [492]:
df5.rename(columns={"contact_person_url":"dept_email"}, inplace=True)

In [493]:
df5.insert(loc = 0,column="county/city", value= "Colusa")

In [494]:
df5

,county/city,dept_name,dept_address,dept_phone,dept_email
0,Colusa,Housing Assistance Programs,"Physical Address\n251 E. Webster Street\nColusa, CA 95932",(530) 458-0250,mailto:amilcar.avendano@countyofcolusa.com

In [495]:
df6= pd.read_json("data_6.json.", orient="index").T

In [496]:
df6

,dept_name,dept_address,dept_phone
0,Code Enforcement,"1025 Escobar Street, Martinez, CA 94553",Code Enforcement Complaint Form (online submittal)\nor Call: (925) 655-2710

In [497]:
df6["dept_phone"] = df6.dept_phone[0][60:]

In [498]:
df6.insert(loc = 0,column="county/city", value= "Contra Costa")

In [499]:
df6

,county/city,dept_name,dept_address,dept_phone
0,Contra Costa,Code Enforcement,"1025 Escobar Street, Martinez, CA 94553",(925) 655-2710

In [500]:
df7= pd.read_json("data_7.json.", orient="index").T

In [501]:
df7["dept_address"] = df7.dept_details[0][31:78]

In [502]:
df7["dept_phone"] = df7.dept_details[0][86:98]

In [503]:
df7["dept_email"] = df7.dept_details[0][104:]

In [504]:
df7.drop(columns=["dept_details"], inplace=True)

In [505]:
df7.insert(loc = 0,column="county/city", value= "Glenn")

In [506]:
df7

,county/city,dept_name,dept_address,dept_phone,dept_email
0,Glenn,Planning & Zoning,"1725 Reynolds St.\nSuite 200\nBrunswick, GA 31520",912-554-7428,: PlanningZoning@glynncounty-ga.gov

In [507]:
df8= pd.read_json("data_8.json.", orient="index").T

In [508]:
df8.rename(columns={"contact_person":"dept_phone"}, inplace=True)

In [509]:
df8.insert(loc = 0,column="county/city", value= "Humboldt")

In [510]:
df8

,county/city,dept_name,dept_address,dept_phone
0,Humboldt,Long Range Planning,"Physical Address\n3015 H St.\nEureka, CA 95501",Phone: 707-445-7245

In [511]:
df9= pd.read_json("data_9.json.", orient="index").T

In [512]:
df9.drop(columns=["dept_phone_url"], inplace=True)

In [513]:
df9.insert(loc = 0,column="county/city", value= "Inyo")

In [514]:
df9

,county/city,dept_name,dept_address,dept_phone
0,Inyo,PLANNING DEPARTMENT,"168 N. Edwards Street - Annex Building\nIndependence, CA93526\nUnited States",(760) 878-0263

In [515]:
df10= pd.read_json("data_10.json.", orient="index").T

In [516]:
df10.insert(loc = 0,column="county/city", value= "Kern")

In [517]:
df10

,county/city,dept_name,dept_address,dept_phone
0,Kern,Taxpayer Services,"Payment Center\nP.O. Box 541004\nLos Angeles, CA 90054-1004",(661) 868-3490

In [518]:
df11= pd.read_json("data_11.json.", orient="index").T

In [519]:
df11.drop(columns=["dept_phone_url", "dept_email_url"], inplace=True)

In [520]:
df11.insert(loc = 0,column="county/city", value= "Lassen")

In [521]:
df11

,county/city,dept_name,dept_address,dept_phone,dept_email
0,Lassen,Planning and Building Services,"707 Nevada Street Ste 5\n96130 Susanville , CA\nSee map: Google Maps",(530) 251-8269,landuse@co.lassen.ca.us

In [522]:
df12= pd.read_json("data_12.json.", orient="index").T

In [523]:
df12["dept_address"] = df12.dept_address[0][:105]

In [524]:
df12.insert(loc = 0,column="county/city", value= "Los Angeles")

In [525]:
df12

,county/city,dept_name,dept_address
0,Los Angeles,Treasurer and Tax Collector,"Treasurer and Tax Collector\nKenneth Hahn Hall of Administration\n500 W Temple Street\nLos Angeles, CA 90012"

In [526]:
df13= pd.read_json("data_13.json.", orient="index").T

In [527]:
df13["dept_phone"] = df13.dept_phone[0][26:]

In [528]:
df13.drop(columns=["dept_phone_url"], inplace=True)

In [529]:
df13.insert(loc = 0,column="county/city", value= "Madera")

In [530]:
df13

,county/city,dept_name,dept_address,dept_phone
0,Madera,Planning Division,"240 Tamal Vista Blvd., Suite 110\nCorte Madera, CA 94925\n415-927-5064",415-927-5050

In [531]:
df14 = pd.read_json("data_14.json.", orient="index").T

In [532]:
df14.insert(loc = 0,column="county/city", value= "Mariposa")

In [533]:
df14["dept_address"] = df14.dept_address[0][0]["name"] + df14.dept_address[0][1]["name"] +" "+ df14.dept_address[0][2]["name"] +" " + df14.dept_address[0][3]["name"]

In [534]:
df14

,county/city,dept_name,dept_address,dept_phone
0,Mariposa,Environmental Health,5100 Bullion StreetMariposa CA 95338,Phone: 209-966-2220 or 888-777-0377

In [535]:
df15 = pd.read_json("data_15.json.", orient="index").T

In [536]:
df15.rename(columns={"selection1":"dept_name"}, inplace=True)

In [537]:
#df15.insert(loc = 0,column="county/city", value= "Mendocino")

In [538]:
df15

,dept_name,dept_address
0,Planning & Building Services,"Main Ukiah Campus:\n501 Low Gap Road\nUkiah, CA 95482"

In [539]:
df16 = pd.read_json("data_16.json.", orient="index").T

In [540]:
df16.drop(columns="dept_phone_url", inplace=True)

In [541]:
df16

,dept_name,dept_address,dept_phone
0,Tax Collector,"Physical Address View Map\n2222 M St.\n1st Floor\nMerced, CA 95340",(209) 385-7307

In [542]:
df16.insert(loc = 0,column="county/city", value= "Merced")

In [543]:
df16

,county/city,dept_name,dept_address,dept_phone
0,Merced,Tax Collector,"Physical Address View Map\n2222 M St.\n1st Floor\nMerced, CA 95340",(209) 385-7307

In [544]:
df17 = pd.read_json("data_17.json.", orient="index").T

In [545]:
df17.rename(columns={"dept_addresss":"dept_address"}, inplace=True)

In [546]:
df17.insert(loc = 0,column="county/city", value= "Mono")

In [547]:
df17

,county/city,dept_name,dept_address,dept_phone
0,Mono,Planning Division,"Mammoth Lakes Office\n1290 Tavern Rd.\nPO Box 347\nMammoth Lakes, CA 93546",o. 760-924-1800\nf. 760-924-1801

In [548]:
df18 = pd.read_json("data_18.json.", orient="index").T

In [549]:
df18.insert(loc = 0,column="county/city", value= "Monterey")

In [550]:
df18.drop(columns=["dept_name_url"], inplace=True)

In [551]:
df18

,county/city,dept_name,dept_address,dept_phone
0,Monterey,HOUSING AND COMMUNITY DEVELOPMENT,"Salinas, CA 93901",831-755-5025

In [552]:
df19 = pd.read_json("data_19.json.", orient="index").T

In [553]:
df19

,dept_name,dept_address,dept_phone
0,Planning Division,"Physical Address View Map1600 First StreetNapa, CA 94559",707-257-9530

In [554]:
df19.insert(loc = 0,column="county/city", value= "Napa")

In [555]:
df19

,county/city,dept_name,dept_address,dept_phone
0,Napa,Planning Division,"Physical Address View Map1600 First StreetNapa, CA 94559",707-257-9530

In [556]:
df20 = pd.read_json("data_20.json.", orient="index").T

In [557]:
df20["dept_phone"] = df20.dept_phone[0][:14]

In [558]:
df20

,dept_name,dept_address,dept_phone
0,Finance,"Finance Department\n300 E. Chapman Ave.\nOrange, CA 92866",(714) 744-2230

In [559]:
df20.insert(loc = 0,column="county/city", value= "Orange")

In [560]:
df20

,county/city,dept_name,dept_address,dept_phone
0,Orange,Finance,"Finance Department\n300 E. Chapman Ave.\nOrange, CA 92866",(714) 744-2230

In [561]:
df21 = pd.read_json("data_21.json.", orient="index").T

In [562]:
df21["dept_address"] = df21.dept_address_2[0][:54]

In [563]:
df21["dept_phone"] = df21.dept_address_2[0][68:80]

In [564]:
df21.drop(columns=["dept_email_url","dept_address_2"],inplace=True)

In [565]:
df21.insert(loc = 0,column="county/city", value= "Placer")

In [566]:
df21

,county/city,dept_name,dept_email,dept_address,dept_phone
0,Placer,Code Compliance services,STRcompliance@placer.ca.gov,"TAHOE OFFICE\n775 North Lake Blvd.\nTahoe City, CA 96145",530-581-6282

In [567]:
df22 = pd.read_json("data_22.json.", orient="index").T

In [568]:
df22

,dept_name,dept_address,dept_phone
0,Short-Term Rentals,"COUNTY OF RIVERSIDE\nDESERT PERMIT ASSISTANCE CENTER\n77588 EL DUNA CT. SUITE H\nPALM DESERT, CA 92211",(951) 955-2004

In [569]:
df22.insert(loc = 0,column="county/city", value= "Riverside")

In [570]:
df22

,county/city,dept_name,dept_address,dept_phone
0,Riverside,Short-Term Rentals,"COUNTY OF RIVERSIDE\nDESERT PERMIT ASSISTANCE CENTER\n77588 EL DUNA CT. SUITE H\nPALM DESERT, CA 92211",(951) 955-2004

In [571]:
df23 = pd.read_json("data_23.json.", orient="index").T

In [572]:
df23

,dept_name,dept_name_url,dept_address
0,Planning and Environmental Review,https://planning.saccounty.gov/Pages/default.aspx,"​Location: 827 7th Street, Sacramento, CA 95814, 1st Floor"

In [573]:
df23.drop(columns="dept_name_url", inplace=True)

In [574]:
df23.insert(loc = 0,column="county/city", value= "Sacramento")

In [575]:
df23

,county/city,dept_name,dept_address
0,Sacramento,Planning and Environmental Review,"​Location: 827 7th Street, Sacramento, CA 95814, 1st Floor"

In [576]:
df24 = pd.read_json("data_24.json.", orient="index").T

In [577]:
df24.insert(loc = 0,column="county/city", value= "San Bernardino")

In [578]:
df24

,county/city,dept_name,dept_address,dept_phone
0,San Bernardino,Short-Term Rentals,"San Bernardino County Code Enforcement\n268 W. Hospitality Lane, Suite 300\nSan Bernardino, CA 92415",24/7 Complaint Line: 800-205-9417

In [579]:
df25 = pd.read_json("data_25.json.", orient="index").T

In [580]:
df25.drop(columns="dept_phone_url", inplace=True)

In [581]:
df25["dept_address"] = df25.dept_address[0][:46]

In [582]:
df25.insert(loc = 0,column="county/city", value= "San Diego")

In [583]:
df25.rename(columns={"contant_person":"contact_person"},inplace=True)

In [584]:
df25

,county/city,dept_name,dept_address,dept_phone,contact_person
0,San Diego,Office of the City Treasurer,"1200 Third Ave., Suite 100\nSan Diego, CA 92101",619-236-6112,Elizabeth Correia\nCity Treasurer

### Combining dataframes

In [585]:
combine_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9,
                       df10, df11, df12, df13, df14, df15, df16, df17, df18,
                       df19, df20, df21, df22, df23, df24, df25], ignore_index=True)

In [586]:
combine_df

,county/city,dept_name,dept_address,dept_phone,dept_email,contact_person
0,Alameda,City of Alameda Rent Program,"950 W. Mall Square, Room 172, Alameda, CA, 94501",510-747-7520,rentprogram@alamedaca.gov,NaN
1,Alpine,Planning Division,"Physical Address\n50 Diamond Valley Rd\nMarkleeville, CA 96120",530-694-2140,NaN,Planner II Email Sarah Traiman Phone: 530-694-2140 Ext 437
2,Amador,Treasurer / Tax Collector,"810 Court Street. Jackson, CA 95642",(209) 223-6364,mailto:TaxCollector@amadorgov.org,NaN
3,Butte,Planning,"25 County Center Drive\nOroville, CA 95965",530-552-3701,mailto:dsplanning@buttecounty.net,NaN
4,Colusa,Housing Assistance Programs,"Physical Address\n251 E. Webster Street\nColusa, CA 95932",(530) 458-0250,mailto:amilcar.avendano@countyofcolusa.com,NaN
5,Contra Costa,Code Enforcement,"1025 Escobar Street, Martinez, CA 94553",(925) 655-2710,NaN,NaN
6,Glenn,Planning & Zoning,"1725 Reynolds St.\nSuite 200\nBrunswick, GA 31520",912-554-7428,: PlanningZoning@glynncounty-ga.gov,NaN
7,Humboldt,Long Range Planning,"Physical Address\n3015 H St.\nEureka, CA 95501",Phone: 707-445-7245,NaN,NaN
8,Inyo,PLANNING DEPARTMENT,"168 N. Edwards Street - Annex Building\nIndependence, CA93526\nUnited States",(760) 878-0263,NaN,NaN
9,Kern,Taxpayer Services,"Payment Center\nP.O. Box 541004\nLos Angeles, CA 90054-1004",(661) 868-3490,NaN,NaN
10,Lassen,Planning and Building Services,"707 Nevada Street Ste 5\n96130 Susanville , CA\nSee map: Google Maps",(530) 251-8269,landuse@co.lassen.ca.us,NaN
11,Los Angeles,Treasurer and Tax Collector,"Treasurer and Tax Collector\nKenneth Hahn Hall of Administration\n500 W Temple Street\nLos Angeles, CA 90012",NaN,NaN,NaN
12,Madera,Planning Division,"240 Tamal Vista Blvd., Suite 110\nCorte Madera, CA 94925\n415-927-5064",415-927-5050,NaN,NaN
13,Mariposa,Environmental Health,5100 Bullion StreetMariposa CA 95338,Phone: 209-966-2220 or 888-777-0377,NaN,NaN
14,NaN,Planning & Building Services,"Main Ukiah Campus:\n501 Low Gap Road\nUkiah, CA 95482",NaN,NaN,NaN
15,Merced,Tax Collector,"Physical Address View Map\n2222 M St.\n1st Floor\nMerced, CA 95340",(209) 385-7307,NaN,NaN
16,Mono,Planning Division,"Mammoth Lakes Office\n1290 Tavern Rd.\nPO Box 347\nMammoth Lakes, CA 93546",o. 760-924-1800\nf. 760-924-1801,NaN,NaN
17,Monterey,HOUSING AND COMMUNITY DEVELOPMENT,"Salinas, CA 93901",831-755-5025,NaN,NaN
18,Napa,Planning Division,"Physical Address View Map1600 First StreetNapa, CA 94559",707-257-9530,NaN,NaN
19,Orange,Finance,"Finance Department\n300 E. Chapman Ave.\nOrange, CA 92866",(714) 744-2230,NaN,NaN
20,Placer,Code Compliance services,"TAHOE OFFICE\n775 North Lake Blvd.\nTahoe City, CA 96145",530-581-6282,STRcompliance@placer.ca.gov,NaN
21,Riverside,Short-Term Rentals,"COUNTY OF RIVERSIDE\nDESERT PERMIT ASSISTANCE CENTER\n77588 EL DUNA CT. SUITE H\nPALM DESERT, CA 92211",(951) 955-2004,NaN,NaN
22,Sacramento,Planning and Environmental Review,"​Location: 827 7th Street, Sacramento, CA 95814, 1st Floor",NaN,NaN,NaN
23,San Bernardino,Short-Term Rentals,"San Bernardino County Code Enforcement\n268 W. Hospitality Lane, Suite 300\nSan Bernardino, CA 92415",24/7 Complaint Line: 800-205-9417,NaN,NaN
24,San Diego,Office of the City Treasurer,"1200 Third Ave., Suite 100\nSan Diego, CA 92101",619-236-6112,NaN,Elizabeth Correia\nCity Treasurer

In [587]:
combine_df.dept_address

0                                                                 950 W. Mall Square, Room 172, Alameda, CA, 94501
1                                                   Physical Address\n50 Diamond Valley Rd\nMarkleeville, CA 96120
2                                                                              810 Court Street. Jackson, CA 95642
3                                                                       25 County Center Drive\nOroville, CA 95965
4                                                        Physical Address\n251 E. Webster Street\nColusa, CA 95932
5                                                                          1025 Escobar Street, Martinez, CA 94553
6                                                                1725 Reynolds St.\nSuite 200\nBrunswick, GA 31520
7                                                                   Physical Address\n3015 H St.\nEureka, CA 95501
8                                     168 N. Edwards Street - Annex Building\nIndependence, CA93526\nUnited States
9                                                      Payment Center\nP.O. Box 541004\nLos Angeles, CA 90054-1004
10                                            707 Nevada Street Ste 5\n96130 Susanville , CA\nSee map: Google Maps
11    Treasurer and Tax Collector\nKenneth Hahn Hall of Administration\n500 W Temple Street\nLos Angeles, CA 90012
12                                          240 Tamal Vista Blvd., Suite 110\nCorte Madera, CA 94925\n415-927-5064
13                                                                            5100 Bullion StreetMariposa CA 95338
14                                                           Main Ukiah Campus:\n501 Low Gap Road\nUkiah, CA 95482
15                                              Physical Address View Map\n2222 M St.\n1st Floor\nMerced, CA 95340
16                                      Mammoth Lakes Office\n1290 Tavern Rd.\nPO Box 347\nMammoth Lakes, CA 93546
17                                                                                               Salinas, CA 93901
18                                                        Physical Address View Map1600 First StreetNapa, CA 94559
19                                                       Finance Department\n300 E. Chapman Ave.\nOrange, CA 92866
20                                                        TAHOE OFFICE\n775 North Lake Blvd.\nTahoe City, CA 96145
21          COUNTY OF RIVERSIDE\nDESERT PERMIT ASSISTANCE CENTER\n77588 EL DUNA CT. SUITE H\nPALM DESERT, CA 92211
22                                                      ​Location: 827 7th Street, Sacramento, CA 95814, 1st Floor
23            San Bernardino County Code Enforcement\n268 W. Hospitality Lane, Suite 300\nSan Bernardino, CA 92415
24                                                                 1200 Third Ave., Suite 100\nSan Diego, CA 92101
Name: dept_address, dtype: object

In [588]:
combine_df.dept_address = combine_df.dept_address.apply(lambda x: x.replace("\n", " "))

In [593]:
combine_df.dept_email = combine_df.dept_email.fillna("-")

In [594]:
combine_df.dept_email = combine_df.dept_email.apply(lambda x: x.replace("\n", "-"))

In [597]:
combine_df.contact_person = combine_df.contact_person.fillna("-")

In [598]:
combine_df.contact_person = combine_df.contact_person.apply(lambda x: x.replace("\n", "-"))

In [600]:
combine_df.to_csv("combined_df.csv", index=False)

In [590]:
#df1.dept_details

In [591]:
def dave(david):
    david **2